You have a new message: #{@subject}
\===============================================

You have received a new message:

\-----------------------------------------------
\#{@message.body.html_safe? ? @message.body : strip_tags(@message.body)}
\-----------------------------------------------

Visit **messages** and go to your inbox for more info.
