// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row
{ padding-top: 40px;
  margin: auto;
  
  .sound-content
  {
    height: auto;


    .covermusic
    {
      .img-responsive
      {
        height: 150px;
        width: 200px;
        margin: auto;
      }
    }
  }
}
